In [24]:
import numpy as np
import pandas as pd

In [25]:
dc_listings = pd.read_csv('./data/dc_airbnb.csv')
dc_listings.head(3).T

                                    0                1             2
host_response_rate                92%              90%           90%
host_acceptance_rate              91%             100%          100%
host_listings_count                26                1             2
accommodates                        4                6             1
room_type             Entire home/apt  Entire home/apt  Private room
bedrooms                            1                3             1
bathrooms                           1                3             2
beds                                2                3             1
price                         $160.00          $350.00        $50.00
cleaning_fee                  $115.00          $100.00           NaN
security_deposit              $100.00              NaN           NaN
minimum_nights                      1                2             2
maximum_nights                   1125               30          1125
number_of_reviews                   0               65             1
latitude                        38.89          38.8804       38.9553
longitude                    -77.0028         -76.9905       -76.986
city                       Washington       Washington   Hyattsville
zipcode                         20003            20003         20782
state                              DC               DC            MD

In [26]:
# Calculate the distance between each value in the accommodates column from dc_listings and the value 3, which is the number of people our listing accommodates:
# Use the apply method to calculate the absolute value between each value in accommodates and 3 and return a new Series containing the distance values.
# Assign the distance values to the distance column.
# Use the Series method value_counts and the print function to display the unique value counts for the distance column.
dc_listings = dc_listings.assign(
    distance=np.abs(3 - dc_listings['accommodates'])
)
dc_listings['distance'].value_counts()

1     2294
2      503
0      461
3      279
5       73
4       35
7       22
6       17
9       12
13       8
8        7
12       6
11       4
10       2
Name: distance, dtype: int64

In [27]:
# Randomize the order of the rows in dc_listings:
# Use the np.random.permutation() function to return a NumPy array of shuffled index values.
# Use the Dataframe method loc[] to return a new Dataframe containing the shuffled order.
# Assign the new Dataframe back to dc_listings.
# After randomization, sort dc_listings by the distance column.
# Display the first 10 values in the price column using the print function.
np.random.seed(1)
dc_listings = dc_listings.loc[np.random.permutation(dc_listings.index)].sort_values('distance')
dc_listings['price'].head(10)

577     $185.00
2166    $180.00
3631    $175.00
71      $128.00
1011    $115.00
380     $219.00
943     $125.00
3107    $250.00
1499     $94.00
625     $150.00
Name: price, dtype: object

In [28]:
# Remove the commas (,) and dollar sign characters ($) from the price column:
# Use the str accessor so we can apply string methods to each value in the column followed by the string method replace to replace all comma characters with the empty character: stripped_commas = dc_listings['price'].str.replace(',', '')
# Repeat to remove the dollar sign characters as well.
# Convert the new Series object containing the cleaned values to the float datatype and assign back to the price column in dc_listings.
dc_listings = dc_listings.assign(price=dc_listings.price.str.replace('[$|,]', '').astype('float'))

In [44]:
# Calculate the mean of the first 5 values in the price column and assign to mean_price.
# Use the print function or the variable inspector below to display mean_price.
mean_price = dc_listings.iloc[:5, dc_listings.columns.get_loc('price')].mean()

In [49]:
# play cell :)
predict_price(4)

197.6

In [46]:
# Write a function named predict_price that can use the k-nearest neighbors machine learning technique to calculate the suggested price for any value for accommodates. This function should:

# Take in a single parameter, new_listing, that describes the number of bedrooms.
# Calculate the distance between each value in the accommodates column and the new_listing value that was passed in. Assign the resulting Series object to the distance column in temp_df.
# Sort temp_df by the distance column and select the first 5 values in the price column. Don't randomize the ordering of temp_df.
# Calculate the mean of these 5 values and use that as the return value for the entire predict_price function.
def predict_price(new_listing):
#     params:
#         new_listing: number of bedrooms
    df = dc_listings.copy()
    df = df.assign(
        distance=np.abs(new_listing - df['accommodates'])
    ).sort_values('distance')
    
    ## Complete the function.
    return df.iloc[:5, df.columns.get_loc('price')].mean()

# Use the predict_price function to suggest a price for a living space that:

# accommodates 1 person, assign the suggested price to acc_one.
acc_one = predict_price(1)
# accommodates 2 people, assign the suggested price to acc_two.
acc_two = predict_price(2)
# accommodates 4 people, assign the suggested price to acc_four.
acc_four = predict_price(4)